docs/n8n-backtest-smoke-workflow.json
{
  "name": "Ledger Backtest Smoke Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "backtest-smoke",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://host.docker.internal:8000' + $json.reportDownloadUrl }}",
        "options": {}
      },
      "id": "download-prompt",
      "name": "Download Prompt Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://host.docker.internal:8000' + $('Webhook Trigger').item.json.callbackBaseUrl + '/report' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: 'smoke_analysis_' + $('Webhook Trigger').item.json.cycleDate.replace(/-/g, ''), content: '# Smoke Analysis\\n\\nThis is an automated smoke test report for cycle ' + $('Webhook Trigger').item.json.cycleDate + '.\\n\\n## Assessment\\nPortfolio unchanged.\\n\\n## Reflection\\nSmoke test — no real analysis performed.', tags: ['backtest', 'backtest_' + $('Webhook Trigger').item.json.backtestId, 'smoke_test'] }) }}",
        "options": {}
      },
      "id": "upload-report",
      "name": "Upload Analysis Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://host.docker.internal:8000' + $('Webhook Trigger').item.json.callbackBaseUrl + '/trades' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ decisions: [{ symbol: 'AAPL', action: 'HOLD', quantity: null, targetPrice: null, reasoning: 'Smoke test — no trade action taken.' }], reportSlug: $json.slug || null }) }}",
        "options": {}
      },
      "id": "submit-trades",
      "name": "Submit Trade Decisions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://host.docker.internal:8000' + $('Webhook Trigger').item.json.callbackBaseUrl + '/complete' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "complete-cycle",
      "name": "Complete Cycle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Download Prompt Report", "type": "main", "index": 0 }]
      ]
    },
    "Download Prompt Report": {
      "main": [
        [{ "node": "Upload Analysis Report", "type": "main", "index": 0 }]
      ]
    },
    "Upload Analysis Report": {
      "main": [
        [{ "node": "Submit Trade Decisions", "type": "main", "index": 0 }]
      ]
    },
    "Submit Trade Decisions": {
      "main": [
        [{ "node": "Complete Cycle", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "smoke-test"
  },
  "pinData": {},
  "tags": [
    { "name": "backtest", "id": "1" },
    { "name": "smoke-test", "id": "2" }
  ]
}
